html, body {
   widht:100%;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
#container {
   width: 400px;
   margin: 50px auto 20px auto;
}
h1 {
    color: #000;
    font-size:2.5em;
    text-align:center;
    display:inline-block;
    vertical-align:middle;
}
img {
    vertical-align:middle;
}
#game-container {
    margin:20px 0;
    padding: 20px;
    background-color: #dbdbdb;
}
p {
    text-align: center;
}
p.blinkMe {
    animation: blinker 0.5s linear;
    animation-iteration-count: 3;
}
@keyframes blinker {
    50% {
        opacity: 0;
    }
}
p.small {
    margin: 10px 0 15px 0;
    font-size:0.8em;
}
.game-info {
    margin: 10px auto;
    height:16px;
    text-align:center;
}
span#alertUser {
    color: red;
}
footer {
    width: 400px;
    margin:0 auto;
    text-align:center;
}